__pycache__/
*.pyc
.venv/
venv/

models/*.keras
models/*.tflite
models/*.npz
models/labels.txt

dataset/raw/**/*.mp4
dataset/raw/**/*.avi
dataset/raw/**/*.mov
dataset/raw/**/*.mkv
dataset/raw/**/*.webm
